syntax: glob
contrib/config.mk
contrib/env.sh
*.res
*.d
*.i
*.o
example/linux-syscall-macros.h
example/syscall-macros.h
*.so
example/trace-syscalls-ld.lds
*.ltrans.out
example/trace-syscalls-ld.so.map
example/trace-syscalls.so.map
lib/libsystrap.a
src/libsystrap.a
test/clone
test/core
test/gettimeofday
test/hello
test/true-execve
test/truemk-execve
test/truesh-execve
src/objs_list
*.a
