syntax: glob
contrib/config.mk
contrib/env.sh
*.res
*.d
*.i
*.o
example/linux-syscall-macros.h
example/syscall-macros.h
*.so
example/trace-syscalls-ld.lds
*.ltrans.out
example/trace-syscalls-ld.so.map
example/trace-syscalls.so.map
lib/libsystrap.a
src/libsystrap.a
test/generic/clone
core
test/generic/gettimeofday
test/generic/hello
test/generic/time
test/generic/true-execve
test/generic/truemk-execve
test/generic/truesh-execve
src/objs_list
*.a
*.stamp
test/x86_64/getpid
test/x86_64/true
contrib/host-includes*
build/
test/generic/i386/clone
test/generic/i386/hello
test/generic/i386/sigreturn
test/generic/i386/time
test/generic/i386/truemk
test/generic/i386/truemk-execve
test/generic/i386/truesh
test/generic/i386/truesh-execve
test/generic/x86_64/hello
test/generic/x86_64/sigreturn
test/generic/x86_64/time
test/generic/x86_64/truemk
test/generic/x86_64/truemk-execve
test/generic/x86_64/truesh
test/generic/x86_64/truesh-execve
test/x86_64/clone3
